.comment_item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	position: relative;
}
.head {
	width: 4em;
	height: 4em;
	margin: 10px;
	border-radius: 30px;
	text-align: center;
}
.person_name {
	font-weight: bold;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.activity {
	margin-right: 10px;
	color: #4DD0C8;
	font-size: 0.8em;
}
.comment_right {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin: 10px 0px;
}
.comment_content {
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.4em 0;
	width: 14em;
}
li {
	background-color: #FFFFFF;
	margin-top: 5px;
}
.first_line {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.comment_time {
	font-size: 0.7em;
	color: gray;
}
.hidden {
	display: none;
}
.new_active {
	position: absolute;
	height: 50px;
	right: 0px;
	bottom: 0px;
}